{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:solid/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["solid", "simple-import-sort", "prettier"],
  "root": true,
  "ignorePatterns": ["dist/", "node_modules/"],
  "rules": {
    "prettier/prettier": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  }
}
